/* Normalize */
*,
::before,
::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
}

/* Variables */
:root {
    --primaryTextColor: #151618;
    --commonColorWhite: #FFF;
    --commonColorBlack: #000000;
    --lightBackground: #754E29;
    --timingFunction: cubic-bezier(0.4, 0, 0.2, 1);

    /* font-family: 'Open Sans', sans-serif;
    line-height: normal;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    color: var(--primaryTextColor); */

    background-color: var(--commonColorWhite);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'Cormorant', serif; */
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    font-style: normal;
    color: var(--primary-text-color);
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

img {
    display: flex;
    vertical-align: top;
    max-width: 100%;
}

a {
    text-decoration: none;
    font: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

input,
button,
textarea,
select {
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

.wrapper {
    overflow: hidden;
}

/* Container */
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    margin-left: 180px;
}

.burger-menu {
    display: none;
}

.nav__list {
    display: flex;
    column-gap: 65px;
    font-size: 18px;
    font-weight: 400;
}

.header-action__list {
    display: flex;
    column-gap: 20px;
}

.header-action__item-right {
    margin-left: 80px;
}

/* Media */
@media screen and (max-width: 1000px) {
    .header__nav {
        margin-left: 0;
        margin-right: 115px;
    }

    .header-action__item-right {
        margin-left: 30px;
    }
}

@media screen and (max-width: 900px) {
    .header__nav {
        margin-right: 0;
    }

    .header-action__item-right {
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 64px;
    }

    .header__nav {
        order: -1;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        width: 40px;
        height: 20px;
    }
    .burger-menu span{
        width: 100%;
        border: 1px solid var(--commonColorBlack);
    }
    
    .nav__list {
        display: none;
    }

    .header-action__item-right {
        margin-left: 30px;
    }
}